<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freddy's Artisanal Halloween Candy Shop</title>
    <link rel="stylesheet" href="../styles/login_styles.css">
</head>
<body>
    <div id="card">
        <p id="err" class="login_err">Error</p>
        <div id="card-content">
          <div id="card-title">
            <div class="login_title">
                Freddy's Artisanal Halloween Candy Shop
            </div>
            <div class="login_logo">
                <img src="../images/Freddys_Logo.svg" width="150" height="90" alt="Freddy's Logo" srcset="">
            </div>
        
          </div>
          <form method="post" class="form">
            <label for="user-email" style="padding-top:13px">
                &nbsp;Username
              </label>
            <input id="user-name" class="form-content" type="text" name="username" autocomplete="on" required />
            <div class="form-border"></div>
            <label for="user-password" style="padding-top:22px">&nbsp;Password
              </label>
            <input id="user-password" class="form-content" type="password" name="password" required />
            <div class="form-border"></div>

            <input id="submit-btn" type="submit" name="submit" >
             
          </form>
        </div>
      </div>

<!-- script  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../scripts/login.js"></script>
</body>
</html>